
body {
  background-color: #FEF0D6;
  font-family: Arial, sans-serif;
}
h1 {
  color: #D9CFDE;
 font-size:200px;
text-align: center;
}
h2 {
  color: #D2DAE9;
font-size:70px;
text-align: center;
}
h1 {
  color: #E7E4F1;
}
p {
  color: #D9CFDE;
font-size:25px;
text-align: center;


}

a {
text-align: center;
color: #D9CFDE;
 font-size:25px;
letter-spacing: 5px;
word-spacing: 60px

}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
color: #E7E4F1;
}

a:active {
  text-decoration: none;
color: #E7E4F1;
}
}

.topnav {
 font-family: arial, sans-serif;
   float: center;
text-align: center;
}
.photo {
display: grid;
	grid-template-columns: 50% 50%;
}
.photo > div{
 padding: 1em;}


.skills {
display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 100%;
	margin-left: 20em;
	margin-right: 20em;
text-align: center;
}
img {
  border-radius: 8px;
}

.skills > div{
 padding: 1em;}

.expeduc {
display: grid;
	grid-template-columns: 50% 50%;
}
.expeduc > div{
 padding: 1em;}


.award {
display: grid;
	grid-template-columns: 100%;
text-align: center;
}
.award > div{
 padding: 1em;}


