body {
  background-color: #FEF0D6;
}
h1 {
  color: #FACFCF;
}
h2 {
  color: #D2DAE9;
}
h1 {
  color: #E7E4F1;
}
p {
  color: #D9CFDE;
}

.topnav {
 font-family: arial, sans-serif;
    font-size:20px;
    color:#D9CFDE;
}
